<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gwana.server.mapper.CartMapper">
    <!-- Cart Update or Insert -->
    <insert id="upsertCart" parameterType="com.gwana.server.dto.cart.CartUpdateRequest">
        <![CDATA[
        INSERT INTO cart (product_id, option_id, user_id, quantity, created_by, created_at)
        VALUES (#{productId}, #{optionId}, #{userId}, #{quantity}, #{createdBy}, #{createdAt})
            ON DUPLICATE KEY UPDATE
                                 quantity = quantity + #{quantity},
                                 modified_at = #{modifiedAt},
                                 modified_by = #{modifiedBy}
        ]]>
    </insert>

    <!-- Cart Search By UserId -->
    <select id="selectCartList" resultType="com.gwana.server.dto.cart.Cart">
        SELECT c.cart_id,
               c.product_id,
               c.quantity,
               p.product_name,
               p.category_name,
               p.price,
               p.shipping_price,
               p.images,
               p.option_required,
               po.option_id,
               po.option_name,
               po.option_price
        FROM cart c
            LEFT JOIN product p ON c.product_id = p.product_id
            LEFT JOIN product_option po ON c.option_id = po.option_id
        WHERE user_id = #{userId}
    </select>

    <!-- Cart Delete -->
    <delete id="deleteCart" parameterType="com.gwana.server.dto.cart.CartDeleteRequest">
        DELETE FROM cart
        WHERE 1 = 1
        <if test="cartId != null and cartId != ''">
            AND cart_id = #{cartId}
        </if>
        <if test="optionId != null and optionId != ''">
            AND option_id = #{optionId}
        </if>
        <if test="productId != null and productId != ''">
            AND product_id = #{productId}
        </if>
        <if test="userId != null and userId != ''">
            AND user_id = #{userId}
        </if>
    </delete>

    <update id="updateCartQuantity" parameterType="com.gwana.server.dto.cart.CartUpdateRequest">
        UPDATE cart
        SET quantity = #{quantity},
            modified_by = #{modifiedBy},
            modified_at = #{modifiedAt}
        WHERE cart_id = #{cartId}
    </update>
</mapper>