<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gwana.server.mapper.MypageMapper">
    <update id="updateMyinfo" parameterType="com.gwana.server.dto.mypage.MyinfoUpdateRequest">
        UPDATE users
        <set>
            profile_image = #{profileImage},
            <if test="phone != null">phone = #{phone},</if>
            <if test="zonecode != null">zonecode = #{zonecode},</if>
            <if test="roadAddress != null">road_address = #{roadAddress},</if>
            <if test="detailAddress != null">detail_address = #{detailAddress},</if>
            <if test="detailAddress != null">modified_at = #{modifiedAt},</if>
            <if test="detailAddress != null">modified_by = #{modifiedBy},</if>
        </set>
        WHERE user_id = #{userId}
    </update>

    <insert id="insertInquiry" parameterType="com.gwana.server.dto.mypage.InquiryCreateRequest">
        INSERT INTO inquiry (
            title,
            content,
            is_secret,
            <if test="productId != null and productId != ''">
                product_id,
            </if>
            <if test="upperInquiryId != null and upperInquiryId != ''">
                upper_inquiry_id,
            </if>
            created_at,
            created_by
        ) VALUES (
            #{title},
            #{content},
            #{isSecret},
            <if test="productId != null and productId != ''">
                #{productId},
            </if>
            <if test="upperInquiryId != null and upperInquiryId != ''">
                #{upperInquiryId},
            </if>
            #{createdAt},
            #{createdBy}
        )
    </insert>

    <select id="selectInquiryCount" resultType="long">
        SELECT COUNT(*)
        FROM inquiry i
        <where>
            <if test="role != 'ADMIN'">
                i.created_by = #{userId}
            </if>
            <if test="productId != null and productId != ''">
                AND product_id = #{productId}
            </if>
            <if test="isAnswered != null and isAnswered != ''">
                AND is_answered = #{isAnswered}
            </if>
            <if test="startDate != null">
                <![CDATA[
                    AND i.created_at >= #{startDate}
                ]]>
            </if>
            <if test="endDate != null">
                <![CDATA[
                    AND i.created_at < DATE_ADD(#{endDate}, INTERVAL 1 DAY)
                ]]>
            </if>
            AND i.upper_inquiry_id IS NULL
        </where>
    </select>

    <select id="selectInquiryList" resultType="com.gwana.server.dto.mypage.Inquiry">
        SELECT i.inquiry_id,
               i.product_id,
               i.title,
               i.content,
               i.is_secret,
               i.is_answered,
               i.created_at,
               u.username
        FROM inquiry i LEFT JOIN users u ON u.user_id = i.created_by
        <where>
            <if test="role != 'ADMIN'">
                i.created_by = #{userId}
            </if>
            <if test="productId != null and productId != ''">
                AND product_id = #{productId}
            </if>
            <if test="isAnswered != null and isAnswered != ''">
                AND is_answered = #{isAnswered}
            </if>
            <if test="startDate != null">
                <![CDATA[
                    AND i.created_at >= #{startDate}
                ]]>
            </if>
            <if test="endDate != null">
                <![CDATA[
                    /* 종료일 당일의 전체 데이터를 포함하기 위해 1일을 더한 미만 조건 사용 */
                    AND i.created_at < DATE_ADD(#{endDate}, INTERVAL 1 DAY)
                ]]>
            </if>
            AND i.upper_inquiry_id is null
        </where>
        ORDER BY created_at DESC
        LIMIT #{size} OFFSET #{offset}
    </select>

    <resultMap id="InquiryWithAnswerMap" type="com.gwana.server.dto.mypage.Inquiry">
        <id property="inquiryId" column="inquiry_id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="isSecret" column="is_secret"/>
        <result property="isAnswered" column="is_answered"/>
        <result property="createdAt" column="created_at"/>
        <result property="createdBy" column="created_by"/>
        <result property="username" column="username"/>
        <result property="phone" column="phone"/>
        <result property="productName" column="product_name"/>

        <association property="answer" javaType="com.gwana.server.dto.mypage.InquiryAnswerResponse">
            <id property="title" column="answer_title"/>
            <result property="content" column="answer_content"/>
            <result property="createdAt" column="answer_created_at"/>
        </association>
    </resultMap>

    <select id="selectInquiry" resultMap="InquiryWithAnswerMap">
        SELECT i.inquiry_id,
               i.title,
               i.content,
               i.is_secret,
               i.is_answered,
               i.created_at,
               i.created_by,
               u.username,
               u.phone,
               p.product_name,
               a.title AS answer_title,
               a.content AS answer_content,
               a.created_at AS answer_created_at
        FROM inquiry i
            LEFT JOIN users u ON u.user_id = i.created_by
            LEFT JOIN product p ON p.product_id = i.product_id
            LEFT JOIN inquiry a ON a.upper_inquiry_id = i.inquiry_id
        WHERE i.inquiry_id = #{inquiryId}

    </select>

    <update id="updateIsAnswered" parameterType="string">
        UPDATE inquiry
        SET is_answered = 'Y'
        WHERE inquiry_id = #{inquiryId}
    </update>

    <insert id="insertReview" parameterType="com.gwana.server.dto.mypage.ReviewCreateRequest">
        INSERT INTO review (
            product_id,
            content,
            review_images,
            rating,
            created_at,
            created_by
        ) VALUES (
            #{productId},
            #{content},
            #{reviewImages},
            #{rating},
            #{createdAt},
            #{createdBy}
        )
    </insert>
    <select id="selectReviewCount" resultType="com.gwana.server.dto.mypage.ReviewCountResponse">
        SELECT review_count as totalCount,
               avg_rating as averageRating
        FROM product_review_stats
        WHERE product_id = #{productId}
    </select>
    <select id="selectReviewList" resultType="com.gwana.server.dto.mypage.Review">
        SELECT review_id,
               product_id,
               content,
               review_images,
               rating,
               r.created_by,
               r.created_at,
               u.email
        FROM review r LEFT JOIN users u ON u.user_id = r.created_by
        WHERE product_id = #{productId}
        <if test="photoOnly">
            AND review_images IS NOT NULL
            AND JSON_LENGTH(review_images) > 0
        </if>
        <choose>
            <when test="sortBy == 'recommended'">
                ORDER BY rating DESC, created_at DESC
            </when>
            <otherwise>
                ORDER BY created_at DESC
            </otherwise>
        </choose>
        LIMIT #{size} OFFSET #{offset}
    </select>
    <insert id="upsertReviewStats">
        <![CDATA[
            INSERT INTO product_review_stats (product_id, avg_rating, review_count)
            VALUES (#{productId}, #{rating}, 1)
            ON DUPLICATE KEY UPDATE
                avg_rating = ROUND((avg_rating * review_count + #{rating}) / (review_count + 1), 1),
                review_count = review_count + 1
        ]]>
    </insert>
</mapper>