<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gwana.server.mapper.ProductMapper">
    <resultMap id="ProductResultMap" type="com.gwana.server.dto.product.Product">
        <id property="productId" column="product_id"/>
        <result property="productName" column="product_name"/>
        <result property="categoryId" column="category_id"/>
        <result property="categoryName" column="category_name"/>
        <result property="images" column="images" />
        <result property="infos" column="infos" />
        <result property="price" column="price"/>
        <result property="shippingPrice" column="shipping_price"/>
        <result property="avgRating" column="avg_rating"/>
        <result property="reviewCount" column="review_count"/>
    </resultMap>

    <select id="selectProductList" resultMap="ProductResultMap">
        SELECT p.product_id,
               product_name,
               category_id,
               category_name,
               images,
               infos,
               price,
               shipping_price,
               COALESCE(prs.avg_rating, 0) AS avg_rating,
               COALESCE(prs.review_count, 0) AS review_count
        FROM product p LEFT JOIN product_review_stats prs ON p.product_id = prs.product_id
        <where>
            <if test="categoryId != null and categoryId != ''">
                category_id = #{categoryId}
            </if>
        </where>
    </select>

    <select id="selectProduct" resultMap="ProductResultMap">
        SELECT product_id,
               product_name,
               category_id,
               category_name,
               images,
               infos,
               price,
               shipping_price
        FROM product WHERE product_id = #{productId}
    </select>

    <select id="selectProductOption" resultType="com.gwana.server.dto.product.ProductOption">
        SELECT product_option_id,
               option_price,
               option_name,
               is_required
        FROM product_option WHERE product_option_id = #{productOptionId}
    </select>

    <insert id="insertProduct" parameterType="com.gwana.server.dto.product.ProductUpdateRequest" useGeneratedKeys="true" keyProperty="productId">
        INSERT INTO product (
            product_name,
            category_id,
            category_name,
            images,
            infos,
            price,
            shipping_price,
            created_by,
            created_at
        ) VALUES (
            #{productName},
            #{categoryId},
            #{categoryName},
            #{images},
            #{infos},
            #{price},
            #{shippingPrice},
            #{createdBy},
            #{createdAt}
        )
    </insert>

    <select id="selectProductOptions" resultType="com.gwana.server.dto.product.ProductOption">
        SELECT product_option_id,
               product_id,
               option_name,
               option_price,
               is_required,
               is_quantity_adjustable
        FROM product_option
        WHERE (product_id = #{productId} OR product_id IS NULL)
        ORDER BY option_name DESC
    </select>

    <update id="updateProduct" parameterType="com.gwana.server.dto.product.ProductUpdateRequest">
        UPDATE product
        <set>
            <if test="productName != null">product_name = #{productName},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="categoryName != null">category_name = #{categoryName},</if>
            <if test="images != null">images = #{images},</if>
            <if test="infos != null">infos = #{infos},</if>
            <if test="price != null">price = #{price},</if>
            <if test="shippingPrice != null">shipping_price = #{shippingPrice},</if>
            modified_at = #{modifiedAt},
            modified_by = #{modifiedBy}
        </set>
        WHERE product_id = #{productId}
    </update>

    <insert id="insertProductOption" parameterType="com.gwana.server.dto.product.ProductOption" useGeneratedKeys="true" keyProperty="productOptionId">
        INSERT INTO product_option (
            product_id,
            option_name,
            option_price,
            is_required,
            is_quantity_adjustable
        ) VALUES (
            #{productId},
            #{optionName},
            #{optionPrice},
            #{isRequired},
            #{isQuantityAdjustable}
        )
    </insert>

    <update id="updateProductOption" parameterType="com.gwana.server.dto.product.ProductOption">
        UPDATE product_option
        SET option_name = #{optionName},
            option_price = #{optionPrice}
        WHERE product_option_id = #{productOptionId}
    </update>

    <delete id="deleteProductOption">
        DELETE FROM product_option
        WHERE product_option_id = #{productOptionId}
    </delete>

    <select id="selectProductInquiryCount" resultType="long">
        SELECT COUNT(*)
        FROM inquiry i
        <where>
            <if test="productId != null and productId != ''">
                AND product_id = #{productId}
            </if>
            <if test="isAnswered != null and isAnswered != ''">
                AND is_answered = #{isAnswered}
            </if>
            <if test='excludeSecret != null and excludeSecret == "Y"'>
                AND is_secret = 'N'
            </if>
            AND i.upper_inquiry_id IS NULL
        </where>
    </select>

    <resultMap id="ProductInquiryWithAnswerMap" type="com.gwana.server.dto.mypage.Inquiry">
        <id property="inquiryId" column="inquiry_id"/>
        <result property="productId" column="product_id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="isSecret" column="is_secret"/>
        <result property="isAnswered" column="is_answered"/>
        <result property="createdAt" column="created_at"/>
        <result property="createdBy" column="created_by"/>
        <result property="username" column="username"/>
        <result property="email" column="email"/>
        <result property="canView" column="can_view"/>

        <association property="answer" javaType="com.gwana.server.dto.mypage.InquiryAnswerResponse">
            <id property="title" column="answer_title"/>
            <result property="content" column="answer_content"/>
            <result property="createdAt" column="answer_created_at"/>
        </association>
    </resultMap>

    <select id="selectProductInquiryList" resultMap="ProductInquiryWithAnswerMap">
        SELECT i.inquiry_id,
               i.product_id,
               CASE
                   WHEN i.is_secret = 'Y'
                    AND (#{role} IS NULL OR #{role} != 'ADMIN')
                    AND (#{userId} IS NULL OR i.created_by != #{userId})
                    THEN ''
                   ELSE i.title
               END AS title,
               CASE
                   WHEN i.is_secret = 'Y'
                    AND (#{role} IS NULL OR #{role} != 'ADMIN')
                    AND (#{userId} IS NULL OR i.created_by != #{userId})
                    THEN ''
                   ELSE i.content
               END AS content,
               i.is_secret,
               i.is_answered,
               i.created_at,
               i.created_by,
               u.username,
               u.email,
               CASE
                   WHEN i.is_secret = 'N' THEN TRUE
                   WHEN #{role} = 'ADMIN' THEN TRUE
                   WHEN #{userId} IS NOT NULL AND i.created_by = #{userId} THEN TRUE
                   ELSE FALSE
               END AS can_view,
               CASE
                   WHEN i.is_secret = 'Y'
                    AND (#{role} IS NULL OR #{role} != 'ADMIN')
                    AND (#{userId} IS NULL OR i.created_by != #{userId})
                    THEN ''
                   ELSE a.title
               END AS answer_title,
               CASE
                   WHEN i.is_secret = 'Y'
                    AND (#{role} IS NULL OR #{role} != 'ADMIN')
                    AND (#{userId} IS NULL OR i.created_by != #{userId})
                    THEN ''
                   ELSE a.content
               END AS answer_content,
               a.created_at AS answer_created_at
        FROM inquiry i
            LEFT JOIN users u ON u.user_id = i.created_by
            LEFT JOIN inquiry a ON a.upper_inquiry_id = i.inquiry_id
        <where>
            i.product_id = #{productId}
            AND i.upper_inquiry_id is null
            <if test='excludeSecret != null and excludeSecret == "Y"'>
                AND i.is_secret = 'N'
            </if>
        </where>
        ORDER BY created_at DESC
        LIMIT #{size} OFFSET #{offset}
    </select>
</mapper>