<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gwana.server.mapper.ProductMapper">
    <resultMap id="ProductResultMap" type="com.gwana.server.dto.product.Product">
        <id property="productId" column="product_id"/>
        <result property="productName" column="product_name"/>
        <result property="categoryId" column="category_id"/>
        <result property="categoryName" column="category_name"/>
        <result property="images" column="images" />
        <result property="infos" column="infos" />
        <result property="price" column="price"/>
        <result property="shippingPrice" column="shipping_price"/>
        <result property="avgRating" column="avg_rating"/>
        <result property="reviewCount" column="review_count"/>
    </resultMap>

    <select id="selectProductList" resultMap="ProductResultMap">
        SELECT p.product_id,
               product_name,
               category_id,
               category_name,
               images,
               infos,
               price,
               shipping_price,
               COALESCE(prs.avg_rating, 0) AS avg_rating,
               COALESCE(prs.review_count, 0) AS review_count
        FROM product p LEFT JOIN product_review_stats prs ON p.product_id = prs.product_id
        <where>
            <if test="categoryId != null and categoryId != ''">
                category_id = #{categoryId}
            </if>
        </where>
    </select>

    <select id="selectProduct" parameterType="com.gwana.server.dto.product.ProductRequest" resultMap="ProductResultMap">
        SELECT product_id,
               product_name,
               category_id,
               category_name,
               images,
               infos,
               price,
               shipping_price
        FROM product WHERE product_id = #{productId}
    </select>

    <insert id="insertProduct" parameterType="com.gwana.server.dto.product.ProductUpdateRequest" useGeneratedKeys="true" keyProperty="productId">
        INSERT INTO product (
            product_name,
            category_id,
            category_name,
            images,
            infos,
            price,
            shipping_price,
            created_by,
            created_at
        ) VALUES (
            #{productName},
            #{categoryId},
            #{categoryName},
            #{images},
            #{infos},
            #{price},
            #{shippingPrice},
            #{createdBy},
            #{createdAt}
        )
    </insert>

    <select id="selectProductOptions" resultType="com.gwana.server.dto.product.ProductOption">
        SELECT product_option_id,
               product_id,
               option_name,
               option_price,
               is_required,
               is_quantity_adjustable
        FROM product_option
        WHERE (product_id = #{productId} OR product_id IS NULL)
        ORDER BY option_name DESC
    </select>

    <update id="updateProduct" parameterType="com.gwana.server.dto.product.ProductUpdateRequest">
        UPDATE product
        <set>
            <if test="productName != null">product_name = #{productName},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="categoryName != null">category_name = #{categoryName},</if>
            <if test="images != null">images = #{images},</if>
            <if test="infos != null">infos = #{infos},</if>
            <if test="price != null">price = #{price},</if>
            <if test="shippingPrice != null">shipping_price = #{shippingPrice},</if>
            modified_at = #{modifiedAt},
            modified_by = #{modifiedBy}
        </set>
        WHERE product_id = #{productId}
    </update>

    <insert id="insertProductOption" parameterType="com.gwana.server.dto.product.ProductOption" useGeneratedKeys="true" keyProperty="productOptionId">
        INSERT INTO product_option (
            product_id,
            option_name,
            option_price,
            is_required,
            is_quantity_adjustable
        ) VALUES (
            #{productId},
            #{optionName},
            #{optionPrice},
            #{isRequired},
            #{isQuantityAdjustable}
        )
    </insert>

    <update id="updateProductOption" parameterType="com.gwana.server.dto.product.ProductOption">
        UPDATE product_option
        SET option_name = #{optionName},
            option_price = #{optionPrice}
        WHERE product_option_id = #{productOptionId}
    </update>

    <delete id="deleteProductOption">
        DELETE FROM product_option
        WHERE product_option_id = #{productOptionId}
    </delete>

</mapper>